body {
  margin: 0; 
  height: 100vh; 
  background-image: url('S:/New folder/REACT/todo-list/back.jpg');
  background-size: cover; 
  background-position: center; 
}

.App {
  text-align: center;
  margin: 20px;
  
}
input, select {
  margin: 5px;
  padding: 10px;
}


.task-item {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 5px; 
  padding: 10px; 
  margin: 10px auto; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  width: 300px;
}

button {
  margin: 5px;
  padding: 10px;
}